<!DOCTYPE html>
<html>
<head>
  <title>Módulo de Recepção</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="pacientes.html">Paciente</a></li>
    <li><a href="profissionais.html">Agenda dos Medicos</a></li>
    <li><a href="cadastromed.html">Cadastro dos Medicos</a></li>
  </ul>



  <div id="pacientesVue" >
    <h2>Cadastro de Pacientes</h2>
    <form v-if="true">
      <label for="nome">Nome:</label>
      <input v-model="pacienteObj.nome" type="text" placeholder="Digite seu nome" id="nome">
      <br>
      <label for="data_nascimento">Data de Nascimento:</label>
      <input v-model="pacienteObj.dataNascimento" type="date" id="data_nascimento" >
      <br>
      <label for="telefone">Telefone:</label>
      <input v-model="pacienteObj.telefone" type="text" placeholder="Digite seu telefone com DDD"id="telefone">
      <br>
      <label for="endereco">Endereço:</label>
      <input v-model="pacienteObj.endereco" type="text" placeholder="Digite seu endereço"id="endereco">
      <br>
    </form>
    <button v-on:click="cadastrar" >Cadastrar</button>
    
    <h2>Agendamento de Consultas</h2>
    <form>
      <label for="paciente">Paciente:</label>
      <select id="paciente">
        <li v-for="pacienteObj in listaPacientes" :key="pacienteObj.nome">
        {{pacienteObj}}
        </li>
      </select>
      <br>
      <label for="profissional">Profissional:</label>
      <select id="profissional">
         <li v-for="medicoObj in listaMedicos" :key="medicoObj.nome">
          {{medicoObj}}
      </select>
      <br>
      <label for="data">Data:</label>
      <input type="date" id="data">
      <br>
      <label for="horario">Horário:</label>
      <input type="time" id="horario">
      <br>
    </form>
    <button v-on:click="agendar">Agendar</button>
  </div>
  
  </body>
  <script src="pacientesmain.js"> </script>
</html>
