<!DOCTYPE html>
<html>
<head>
  <title>Módulo de Profissionais</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="pacientes.html">Paciente</a></li>
    <li><a href="profissionais.html">Agenda dos Medicos</a></li>
    <li><a href="cadastromed.html">Cadastro dos Medicos</a></li>
  </ul>

  <div id= "profissionaisVue">
    <h2>Visualização de Agenda</h2>
    <ul class="lista" id="example-1">
      <li class="itens" v-for="agendamentoObj in listaAgendamento" :key="agendamentoObj.id">
        {{agendamentoObj}}
      </li>
    </ul>
    
    <h2>Atendimento de Pacientes</h2>
    <form id="atendimentoPaciente">
      <label for="consulta">Consulta:</label>
      <select v-model="selecionado" id="consulta">
          <option v-for="(agendamentoObj,index) in listaAgendamento" :key="index" v-on:click="indice=index">
         Nome: {{agendamentoObj.paciente}}, {{agendamentoObj.data}}, {{agendamentoObj.horario}},  {{agendamentoObj.id}}
          </option>
      </select>
      <br>
      <input type="checkbox" id="Compareceu" value="Compareceu" v-model="compareceu">
      <label for="Compareceu">Compareceu</label>
      <br>
      <input type="checkbox" id="Faltou" value="Faltou" v-model="faltou">
      <label for="Faltou">Faltou</label>
      <br>
    </form>
  </form>
  <button  v-on:click="confirmar">Registrar</button>
  </div>
    
</body>
<script src="profissionaismain.js"></script>
</html>