<!DOCTYPE html>
<html>
<head>
  <title>Módulo de Profissionais</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="pacientes.html">Paciente</a></li>
    <li><a href="profissionais.html">Agenda dos Medicos</a></li>
    <li><a href="cadastromed.html">Cadastro dos Medicos</a></li>
  </ul>

  <div id= "profissionaisVue">
    <h2>Visualização de Agenda</h2>
    <ul id="example-1">
      <li v-for="item in items" :key="item.message">
        {{ item.message }}
      </li>
    </ul>
    
    <h2>Atendimento de Pacientes</h2>
    <form id="atendimentoPaciente">
      <label for="consulta">Consulta:</label>
      <select id="consulta">
          <li v-for="pacienteObj in listaPacientes" :key="pacienteObj.nome">
          {{pacienteObj}}
          </li>
      </select>
      <br>
      <input type="radio" id="Compareceu" value="Compareceu" v-model="picked">
      <label for="Compareceu">Compareceu</label>
      <br>
      <input type="radio" id="Faltou" value="Faltou" v-model="picked">
      <label for="Faltou">Faltou</label>
      <br>
    </form>
  </form>
  <button  v-on:click="registrar">Registrar</button>
  </div>
    
</body>
<script src="profissionaismain.js"></script>
</html>